body{
    background-color: grey;
    padding-left: 30px;
    padding-right: 30px;
}

.header1 {
    background-color: lightgrey;
    text-align: center;
    padding: 30px 30px;
    margin-bottom: 10px
}

.nav {
    background-color: lightgrey;
    text-align: center;
    padding: 30px 30px;
    margin-bottom: 20px;
}

section{
    background-color: lightgrey;
    text-align: center;
    float: left;
}

aside{
    float: right;
    background-color: lightgrey;
    text-align: center;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 30px 30px;
}

